/*style the typhography*/
html, body {
    font-style: "inter", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
/*style header*/
.header {
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
}
h1 {
    font-size: 2.25rem;
    margin-bottom: 5px;
}
.header p {
    margin-top:0px;
}
/*style padding and content card*/
.content {
    background-color: #F8FAFC;
    padding-left: 25%;
    padding-right: 25%;
    height: 100vh
}
.content1 {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D2D5DA
}
.content2 {
    padding-top: 10px;
}
.question {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
